- name: Deploy Student CGPA App
  hosts: webserver
  become: yes

  vars:
    repo_url: "https://github.com/bhargavasai-tech/DevOps-student-app.git"
    project_dir: "/home/ec2-user/student-app-cicd"
    image_name: "student-cgpa-app"

  tasks:
    - name: Ensure Docker is running
      service:
        name: docker
        state: started
        enabled: yes

    - name: Pull latest code
      git:
        repo: "{{ repo_url }}"
        dest: "{{ project_dir }}"
        force: yes

    - name: Stop old container if exists
      shell: docker rm -f student_cgpa_container || true

    - name: Build Docker image
      shell: docker build -t {{ image_name }} .
      args:
        chdir: "{{ project_dir }}"

    - name: Run Docker container
      shell: docker run -d --name student_cgpa_container -p 5000:5000 {{ image_name }}
